In [15]:
%pwd
#'D:\\test\\flights\\src'

'D:\\test\\flights\\src'

In [10]:
import os

files = os.listdir('.')
print(files)
files = os.listdir('..')
print(files)
files = os.listdir('../data')
print(files)

['.ipynb_checkpoints', 'solution.ipynb']
['.git', 'Challenge - Data Scientist.pdf', 'conf', 'data', 'src']
['dataset_SCL.csv']

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_percentage_error, mean_squared_error, r2_score
import numpy as np
import pickle
file_name = "xgb_cl.pkl"

In [3]:
def plot_confusion_matrix(y_true, y_pred, row_pct=False, invert_y_axis=False):
    """Plot confusion matrix."""
    cf_matrix = confusion_matrix(y_true, y_pred)

    if invert_y_axis:
        cf_matrix.reindex(index=cf_matrix.index[::-1])

    if row_pct:
        cf_matrix = cf_matrix / np.sum(cf_matrix, axis=1, keepdims=True)
    else:
        cf_matrix = cf_matrix / np.sum(cf_matrix)

        logging.info(f"Trace of matrix: {np.trace(cf_matrix)}")

    return sns.heatmap(cf_matrix, annot=True, fmt=".2%", cmap="Blues")

In [18]:
dataset_SCL = pd.read_csv("../data/dataset_SCL.csv")

C:\Users\j9b3m7e8\AppData\Local\Temp\ipykernel_21448\849196933.py:1: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset_SCL = pd.read_csv("../data/dataset_SCL.csv")

In [13]:
dataset_SCL.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1.0,1.0,2017.0,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2.0,1.0,2017.0,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3.0,1.0,2017.0,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4.0,1.0,2017.0,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5.0,1.0,2017.0,Jueves,I,American Airlines,Santiago,Miami

In [17]:
dataset_SCL["Fecha-I"] = pd.to_datetime(dataset_SCL["Fecha-I"])

ParserError: Unknown string format: 2017-03-08 06:20:00,1351,SCEL,SBCT,LAN,2017-03-08 06:10:00,1351,SCEL,SBCT,LAN,8,3,2017,Miercoles,I,Grupo LATAM,Santiago,"Curitiba, Bra."

### EDA

In [ ]:
random_seed = 42

**Fecha-I** : Fecha y hora programada del vuelo.  
**Vlo-I** : Número de vuelo programado.  
**Ori-I** : Código de ciudad de origen programado.  
**Des-I** : Código de ciudad de destino programado.  
**Emp-I** : Código aerolínea de vuelo programado.  
**Fecha-O** : Fecha y hora de operación del vuelo.  
**Vlo-O** : Número de vuelo de operación del vuelo.  
**Ori-O** : Código de ciudad de origen de operación.  
**Des-O** : Código de ciudad de destino de operación.  
**Emp-O** : Código aerolínea de vuelo operado.  
**DIA** : Día del mes de operación del vuelo.  
**MES** : Número de mes de operación del vuelo.  
**AÑO** : Año de operación del vuelo.  
**DIANOM** : Día de la semana de operación del vuelo.  
**TIPOVUELO** : Tipo de vuelo, I =Internacional, N =Nacional.  
**OPERA** : Nombre de aerolínea que opera.  
**SIGLAORI** : Nombre ciudad origen.  
**SIGLADES** : Nombre ciudad destino.

In [16]:
dataset_SCL.groupby(["Fecha-I","DIANOM","TIPOVUELO"]).agg({"Vlo-I":"nunique"}).reset_index().order

      DIA   MES     AÑO     DIANOM TIPOVUELO  Vlo-I
0     1.0   1.0  2017.0    Domingo         I     79
1     1.0   1.0  2017.0    Domingo         N     87
2     1.0   1.0  2018.0      Lunes         I      2
3     1.0   2.0  2017.0  Miercoles         I     92
4     1.0   2.0  2017.0  Miercoles         N    100
..    ...   ...     ...        ...       ...    ...
726  31.0   8.0  2017.0     Jueves         N    101
727  31.0  10.0  2017.0     Martes         I     75
728  31.0  10.0  2017.0     Martes         N     95
729  31.0  12.0  2017.0    Domingo         I     92
730  31.0  12.0  2017.0    Domingo         N     83

[731 rows x 6 columns]